.address{
    background-color: #ac9ffb;
opacity: 0.7;
background-image:  linear-gradient(30deg, #fffd77 12%, transparent 12.5%, transparent 87%, #fffd77 87.5%, #fffd77), linear-gradient(150deg, #fffd77 12%, transparent 12.5%, transparent 87%, #fffd77 87.5%, #fffd77), linear-gradient(30deg, #fffd77 12%, transparent 12.5%, transparent 87%, #fffd77 87.5%, #fffd77), linear-gradient(150deg, #fffd77 12%, transparent 12.5%, transparent 87%, #fffd77 87.5%, #fffd77), linear-gradient(60deg, #fffd7777 25%, transparent 25.5%, transparent 75%, #fffd7777 75%, #fffd7777), linear-gradient(60deg, #fffd7777 25%, transparent 25.5%, transparent 75%, #fffd7777 75%, #fffd7777);
background-size: 24px 42px;
background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
}